.pageWrapper {
  margin: 16px;
}
.countryTable {
  width: 100%;
  margin-top: 16px;
  max-height: calc(100vh - 130px);
  overflow: auto;
}
.countryCell button {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.countryFlag {
  vertical-align: middle;
}
